body {
    background-color: #e4e4e4;
	font-family: Open Sans;
}

#question {
    background-color: #0094da;
    color: white;
    padding: 10px;
    text-align: center;
}

#question h4{
    background-color: #fff;
    color: #0b0e21;
    display:inline-block;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 600;
}

#question p{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 50px;
    padding-right: 50px;
}

#answers ul{
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#answers li {
    background-color: #fff;
    border: 2px solid #0094da;
    min-height: 70px;
    width: 48%;
    display: flex;
    margin-bottom: 30px;
}

#answers li span {
    background-color: #0084da;
    color: #fff;
    font-size: 30px;
    padding: 12px 20px;
}

#answers li p {
    color: #0b0e21;
    font-size: 16px;
    font-weight: 600;
    margin: auto 30px auto 30px;
}

#submit {
    text-align: center;
    margin-top: 20px;
}

#submit button {
    border: 0;
    border-radius: 0;
    background-color: #0b0e21;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 14px 75px;
    text-transform: uppercase;
    margin: 0 auto;
}