body {
    background-color: #e4e4e4;
	font-family: Open Sans;
}

#question {
    background-color: #0094da;
    color: white;
    padding: 10px;
    text-align: center;
}

#question h4{
    background-color: #fff;
    color: #0b0e21;
    display:inline-block;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 600;
}

#question p{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 50px;
    padding-right: 50px;
}

#answers {
    
}

