body {
    background-color: #e4e4e4;
	font-family: Open Sans;
}

#question {
    background-color: #0094da;
    color: white;
    padding: 15px;
    text-align: center;
}

#question h4{
    background-color: #fff;
    color: #0b0e21;
    display:inline-block;
    padding: 7px 20px;
    font-weight: 600;
/*    margin: 0;*/
}

